  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* header section start 
   ============================= */
  .header-section {
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  .hero-containt {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50% -50%);
  }

  .image-responsive {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .para-01 {
    color: rgb(150, 61, 233);
  }

  .hero-containt h1 {
    color: #f85509;
  }

  .btn-custom {
    text-decoration: none;
    background-color: #f85509;
    padding: 15px 30px;
    border-radius: 50px;
  }

  .btn-custom:hover {
    background-color: darkgreen;
    color: white;
  }



  /* header section end 
 ========================== */

  /* product section start 
  ========================== */
  .feature-card:hover {
    transform: translate(-10px);
    overflow: hidden;
  }

  .feature-section {
    background-color: rgb(141, 87, 191);
    color: darkgreen;

  }

  .container h3 {
    padding: 20px;
    color: rgb(131, 228, 34);
    font-weight: 700;
    margin-left: 30%;
  }

  .feature-card {
    padding: 25px;
    background-color: #cfc3c3;
    border-radius: 15px;
    margin-bottom: 25px;
    transition: transform 0.5s ease;
    box-shadow: -17px 10px 5px 0px rgba(110,100,100,0.75);
  }

  .picture-1 {
    width: 80px;
    height: 80px;
  }

  .para-02 {
    color: #f85509;
  }

  .custom-section {
    background-color: rgb(141, 87, 191);
    overflow: hidden;
  }

  .container h2 {
    font-weight: 700;
    color: darkgreen;
    margin-left: 30%;
    padding: 10px;
  }

  .checkout-section {
    padding: 60px 0px;
    width: 500px;
    height: 400px;

  }

  .checkout-section h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
  }

  .form-main {
    margin-bottom: 50px;
  }

  .custom-input {
    width: 400px;
    height: 50px;
    border-radius: 8px;

  }

  .checkout-form {
    background-color: rgb(88, 86, 86);
    padding: 10px;
    width: 400px;
    margin-left: 35%;
    box-shadow: 10px 10px 5px 7px rgba(151, 196, 77, 0.75);
  }

  .form-main h2 {
    font-weight: 700;
    margin-left: 35%;
    color: #f85509;

  }

  .footer {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border: 1px solid;
    overflow: hidden;
  }


  .footer-man img {
    width: 60px;
    height: 60px;
  }

  .footer {
    padding: 60px 0px;
    background-color: black;
    color: white;
    margin-top: 15px;
  }

  .footer-contain {
    display: flex;
    justify-content: space-between;
  }

  .logo-div a:hover {
    color: crimson;
  }